body {
    margin: 0;
    padding: 0;
    /* background-color: aqua; */
    
    font-size: 18px;
    /* position: relative; */
}

header .top {
    display: grid;
    grid-template-columns: 45% 40%;
    grid-gap: 9%;
    /* background-color: red; */
    width: 100%;
    /* margin-bottom: 0px; */
    height: 7.3vh;
    place-items: center;
    border-bottom: 1px solid lightblue;
}

header .top li {
    list-style: none;
    display: inline;
    margin-right: 25px;

}

.nav2 .menu-bar-list-items {
    margin-left: 100px;
    padding-top: 20px;
}

.nav2 .menu-bar-list-items li {
    list-style: none;
    display: inline;
    margin-right: 25px;
}


.boot-ap-btn {
    margin-left: 100px;
    margin-top: 10px;
}

.nav2 {
    height: 10vh;
    /* background-color: red; */
}

.nav2 .logo {
    margin-top: 20px;
    margin-left: 12%;

}




.row {
    float: left;
}

a {
    text-decoration: none;
    color: black;
}

button {
    padding: 12px 30px;
    background-color: rgb(99, 74, 241);
    color: white;
    font-size: medium;
    border: none;
    border-radius: 5px;
    transition: 0.5s ease;

}

.nav2 button:hover {
    background-color: black;
    transition: 0.5s ease;
    cursor: pointer;
}

.slider {
    width: 100%;
    height: 600px;
    z-index: -1;
    /* background-color: red; */
}

.slider .text {
    width: 45%;
    padding: 5%;
    /* background-color: red; */
    margin-left: 8%;
    margin-top: 2%;

    p {
        margin-top: 50px;
    }

    .button {
        margin-top: 50px;

        a {
            padding: 12px 30px;
            background-color: rgb(99, 74, 241);
            color: white;
            font-size: medium;
            border: none;
            border-radius: 5px;
            transition: 0.5s ease;
        }

        a:hover {
            background-color: black;
            transition: 0.5s ease;
            cursor: pointer;
        }
    }

    span {
        color: blueviolet;
    }
}
.slider .text h1{
    animation: h1 2s forwards;
    animation-iteration-count: 1;
}
@keyframes h1{
    0% {
        margin-top: 100px;
        opacity: 0.4;
    }
    50%{
        opacity: 0.8;
    }
    100%{
        opacity: 1;
    }
}
.slider .text p{
    animation: p 2s forwards;
    animation-delay: 0.5s;
    animation-iteration-count: 1;
}
@keyframes p{
    0% {
        margin-top: 100px;
        opacity: 0;
    }
    50%{
        opacity: 0.8;
    }
    100%{
        opacity: 1;
    }
}
.slider .text .button{
    animation: button 2s forwards;
    animation-iteration-count: 1;
    animation-delay: 0.5s;
}
@keyframes button{
    0% {
        margin-top: 100px;
        opacity: 0;
    }
    50%{
        opacity: 0.8;
    }
    100%{
        opacity: 1;
    }
}

.cards {
    width: 100%;
    /* background-color: red; */
    /* height: 100vh; */
    padding-left: 10%;
    z-index: 2;

}

.cards div {
    position: relative;
    overflow: hidden;
    width: 350px;
    height: 260px;
    background-color: blue;
    margin-left: 45px;
    margin-top: -50px;
    border-radius: 5px;
    padding: 20px;
    color: white;
    font-size: medium;

    h4 {
        margin-bottom: 15px;
        margin-top: 15px;
    }

    p {
        margin-bottom: 30px;
    }

    table {
        margin-bottom: 30px;
    }

    a {
        color: white;
        font-weight: bold;
        font-size: medium;

    }
}

.section1 {
    width: 100%;
    /* margin-top: 5%;
     */
    /* background-color: red; */
    margin-top: 260px;
    height: 90vh;
    text-align: center;
}

.section1 h1 {
    padding-top: 50px;
    margin-bottom: 30px;
}

.section1 img {
    margin-bottom: 30px;
}

.section1 span {
    opacity: 0.5;
    padding-bottom: 30px;
}

.section1 div {
    margin-top: 40px;
    background-color: white;
    color: black;
    height: auto;

    i {
        border: 1px solid aqua;
        margin-left: 32%;
        width: auto;
        color: blueviolet;
        font-size: 50px;
        border-radius: 50%;
        padding: 30px;
        margin-bottom: 30px;
        transition: 0.5s ease;
    }

    p {
        opacity: 0.5;
        margin-top: 20px;
    }
}

.section1 .emergency:hover {

    i{
        background-color: blueviolet;
        color: white;
        border: none;
        transition: 0.5s ease;
    }

}
.section1 .medical:hover {

    i{
        background-color: blueviolet;
        color: white;
        border: none;
        transition: 0.5s ease;
    }

}
.section1 .pharmecy:hover {

    i{
        background-color: blueviolet;
        color: white;
        border: none;
        transition: 0.5s ease;
    }

}
.section2{
    width: 100%;
    height: 40vh;
    background: url(/images/blockqoute-bg.jpg);
    /* background-color: red; */
    /* position: relative; */  
}

.section3 h1 {
    padding-top: 50px;
    margin-bottom: 30px;
}

.section3 img {
    margin-bottom: 30px;
}

.section3 span {
    opacity: 0.5;
    padding-bottom: 30px;
}
.section3{
    width: 100%;
    height: 100vh;
    /* background-color: blue; */
    text-align: center;
    .sub-1{
        width: 45%;
        margin-left: 5%;
        text-align: justify;
        table{
            width: 100%;

           li{
            list-style: none;

            i{
                color: blueviolet;
                font-size: small;
            }
           }
        }
        hr{
            width: 10%;
            height: 2px;
            background-color: black;
        }
    }
}
.section4{
    width: 100%;
    height: 55vh;
    /* background-color: yellow; */
    background: url(/images/call-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    div{
        width: 100%;
        height: 100%;
        background-color: rgba(5, 5, 247,0.5);
        

        .section4-content{
            padding-top: 30px;
            text-align: center;
            width: 40%;
            margin-left: 30%;
            background: transparent;
        }
    }
    button{
        background-color: aliceblue;
        color: blueviolet;
        font-weight: bold;
    }
    a{
        border: 1px solid white;
        padding: 10px 30px;
        border-radius: 5px;
        margin-left: 15px;
        color: white;
    }
}

.section4 h1 {
    padding-top: 50px;
    margin-bottom: 30px;
}

.section4 img {
    margin-bottom: 30px;
}

.section4 span {
   font-size: medium;
    padding-bottom: 30px;
}
.section5{
    width: 100%;
    height: 90vh;
    /* background-color: orange; */
    text-align: center;
    .section5-content{
        padding-top: 30px;
        text-align: center;
        width: 45%;
        margin-left: 30%;
        background: transparent;
    }
}
.section5 .section5-cards{
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    grid-gap: 10px;
    padding-left: 2%;
    margin-top: 40px;
    div{
        height: 300px;
        /* background-color: red; */
        img{
            width: 100%;
            height: 100%;
        }
        
    }
}
.section5 .section5-cards .gallery{
    background-color: rgba(138, 43, 226,0.5);
    transition: 0.5s ease;
    display: none;

}
.section5 .section5-cards .gallery button{
    margin-top: 130px;
    color: blueviolet;
    background-color: white;
}
.section5 .section5-cards .gallery button:hover{
    background-color: black;
    color: white;
}

.section5 h1 {
    padding-top: 50px;
    margin-bottom: 30px;
}

.section5 img {
    margin-bottom: 30px;
}

.section5 span {
    opacity: 0.6;
    margin-bottom: 30px;
}

.section6{
    width: 100%;
    height: 120vh;
    text-align: center;
    
}
.section6 .services{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-gap: 15px;
    padding-left: 10%;
    margin-top: 25px;

    div{
        height: 250px;
        background-color: red;
    }
}
.section6 h1 {
    padding-top: 50px;
    margin-bottom: 30px;
}

.section6 img {
    margin-bottom: 30px;
}

.section6 span {
    opacity: 0.6;
    margin-bottom: 30px;
}
.section7{
    width: 100%;
    height: 150vh;
    text-align: center;
    
}
.section7 .prices{
    display: grid;
    grid-template-columns: 26% 26% 26%;
    grid-gap: 35px;
    padding-left: 15%;
    margin-top: 45px;

    div{
        height: 550px;
        background-color: red;
    }
}
.section7 h1 {
    padding-top: 50px;
    margin-bottom: 30px;
}

.section7 img {
    margin-bottom: 30px;
}

.section7 span {
    opacity: 0.6;
    margin-bottom: 30px;
}

.section8{
    width: 100%;
    height: 130vh;
    text-align: center;
    
}
.section8 .news{
    display: grid;
    grid-template-columns: 29% 29% 29%;
    grid-gap: 35px;
    padding-left: 8%;
    margin-top: 45px;

    div{
        height: 550px;
        background-color: red;
    }
}
.section8 h1 {
    padding-top: 50px;
    margin-bottom: 30px;
}

.section8 img {
    margin-bottom: 30px;
}

.section8 span {
    opacity: 0.6;
    margin-bottom: 30px;
}

.section9{
    width: 100%;
    height: 25vh;
    background: url(/images/blockqoute-bg.jpg);
}
.section10{
    width: 100%;
    height: 100vh;
    margin-top: 50px;
    text-align: center;
    position: relative;
    /* display: grid;
    grid-template-columns: 55% 45%; */
}

.section10 .appointment-form {
    margin-top: 50px;
    width: 55%;
    padding: 15px;
    padding-left: 220px;
    padding-right: 50px;
    font-size: medium;
    /* background-color: red; */
    text-align: left;
   

    input{
        width: 43%;
        border-radius: 5px;
        margin-bottom: 15px;
        border: 1px solid aqua;
        padding: 10px;
        
    }
    input[type="email"],input[placeholder="Date"], #department{
        margin-left: 35px;
    }
    select{
        border-radius: 5px;
        padding: 10px;
        width: 43%;
        color: rgb(118, 128, 128);
        border: 1px solid aqua;
    }
    textarea{
        padding: 10px;
        width: 93%;
        border: 1px solid aqua;
        border-radius: 5px;
        resize: none;
    }
    span{
        margin-left: 25px;
        font-size: 15px;
    }
    
}
.section10 h1 {
    padding-top: 50px;
    margin-bottom: 30px;
}

.section10 img {
    margin-bottom: 30px;
}

.section10 span {
    opacity: 0.6;
    margin-bottom: 30px;
}


.section11 {
    width: 100%;
    height: 40vh;
    background-color: rgb(208, 228, 236);
    display: grid;
    grid-template-columns: 45% 45%;
    grid-gap: 5%;
    padding-left: 10%;
    padding-top: 5%;


    div {
        height: 150px;
        
        input{
            padding: 25px;
            height: 48px;
            border-radius: 5px;
            border: none;
        }
        button:hover{
            background-color: black;
            
        }
        /* background-color: red; */
    }
}
.section12{
    width: 100%;
    height: 62vh;
    background-color: rgb(73, 73, 203);
    display: grid;
    grid-template-columns: 22% 22% 22% 22%;
    grid-gap: 20px;
    padding-left: 10%;
    padding-top: 60px;
    div{
        /* background-color: red; */
        height: 350px;
        /* text-align: justify; */
        font-size: medium;
        color: white;
    }
}

.section12 .quicklinks{
    
    width: 100%;
    /* background-color: red; */
    table{
       
        width: 100%;
        li{
            list-style: none;
            margin-bottom: 15px;
        }
    }
    table td{
        width: 150px;
        
        margin-left: 15px;

    }
}

footer{
    width: 100%;
    height: 10vh;
    background-color: blueviolet;
    color: white;
    text-align: center;
    padding-top: 25px;
}